* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    min-height: 100vh;
    background-color: darkgray;
    flex-direction: column;
}

h1 {
    font-size: 30px;
}

.header {
    flex-basis: 100%;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.main-content {
    flex: 1 0 400px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.item {
    flex-basis: 350px;
    height: 240px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    flex-basis: 100%;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}