.container {
    background-color: #d7e1e7;
    border-radius: 1rem;
    display: flex;
    gap: 4rem;
    margin: 2rem auto;
    padding: 4rem;
    height: 30rem;
    width: 50rem;
}

.poster {
    border: 8px solid black;
    box-shadow: 0 24px 32px -16px rgba(0, 0, 0, 0.4);
}

.title {
    font-size: 1.75rem;
}

.description {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 2rem;
}