* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: darkgray;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 15px;
    grid-auto-rows: minmax(210px, 240px);
}

.item {
    background-color: white;
    border: 2px solid black;
    font-size: 30px;
    padding: 10px;
}
